@page
@model RestaurantBookingSystem.App.Pages.Customers.IndexModel
@{
    Layout = "_CustomerLayout";
}

@if (!string.IsNullOrEmpty(Model.ViewName))
{
    @await Html.PartialAsync(Model.ViewName)
}
else
{
    <p>No content to display.</p>
}