@model RestaurantBookingSystem.App.Pages.Administration.AdminPageModel

<div class="container">
    <h2>Registered Restaurant Owners</h2>
</div>

@* 
<div class="pagination">
    @if (Model.Clients.HasPreviousPage)
    {
        <a asp-page="/Administration/Index" asp-route-view="_Clients" asp-route-PageIndex="@(Model.Clients.PageIndex - 1)" class="btn btn-secondary">Previous</a>
    }

    @if (Model.Clients.HasNextPage)
    {
        <a asp-page="/Administration/Index" asp-route-view="_Clients" asp-route-PageIndex="@(Model.Clients.PageIndex + 1)" class="btn btn-secondary">Next</a>
    }
</div>
 *@