@model RestaurantBookingSystem.App.Pages.Administration.AdminPageModel

<div class="container">
    <h1>This is the Restaurants page</h1>
    <p>Welcome to the restaurants page.</p>
</div>

<a class="btn btn-outline-info" asp-page="/Administration/AddRestaurant">Add a new restaurant</a>



