@page
@model RestaurantBookingSystem.App.Pages.Administration.AddRoleModel
@{
    Layout = "_AdminLayout";
}

@section AdminSideBar {
    <partial name="Administration/_AdminSidebar" />
}

<h1> Add role page</h1>