@page
@model RestaurantBookingSystem.App.Pages.RestaurantUsers.IndexModel
@{
    Layout = "_RestaurantUserLayout";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the pages of the restaurant users</h1>
</div>