@page
@model RestaurantBookingSystem.App.Pages.RestaurantUsers.IndexModel
@{
    Layout = "_RestaurantUserLayout";
}

@section EmployeeSideBar {
    <partial name="RestaurantUsers/_EmployeeSideBar" />
}

@if (!string.IsNullOrEmpty(Model.ViewName))
{
    @await Html.PartialAsync(Model.ViewName)
}
else
{
    <p>No content to display.</p>
}